footer a{
    text-decoration: none !important; 
}

footer a:hover{
    text-decoration: underline !important;
}

.text-centrado{
    text-align: right;
}
.header-cont {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }
  .navbar
  {
    background-color: white !important;
  }
  .img
  {
    width: 80px;
  }